:root {
  --color-primary: #45ada8;
  --color-secondary: #cc527a;
  /* --color-background: #1e1e1e; */
  --color-background: #f9f1e9;
  --color-text: #F0ECF5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}


