:root {
  --color-primary: #FF4E50;
  --color-secondary: #FC913A;
  --color-background: white;
  --color-text: #1a1a1a;
  --color-error: #e53e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}


